@charset "utf-8";
/* 
	layout.css
	
	Project: Pink Army
	
	iomer internet solutions - Mar 2009
	iomer.com



	Table of Contents
	-----------------
	
	=globals	
	=clearfix
	=logoblock
	=main navigation
	=sub navigation
	=masthead
	=body content
	=footer
*/

/*----------------------------------------------------- 
  =globals 
  -----------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{margin:0; padding:0;}
body{width:100%; text-align:center;}

.full{width:100%; display:block;}
.fixed{width:960px; display:block; margin:auto;}

.f_right{float:right;}
.f_left{float:left;}

#pa_wrapper{text-align:left;}
img{border:0;}
p{padding-bottom:16px;}


/*----------------------------------------------------- 
  =clearfix 
  -----------------------------------------------------*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/*------------------------------------------------------
  =logoblock
  ------------------------------------------------------*/
#pa_logoBlock{background:#fff; height:auto;}
#pa_logoBlockWrap{height:55px;}
.tagline{color:#999; font-style:italic; width:50%; text-align:right; padding-top:27px;}



/*------------------------------------------------------
  =main navigation
  ------------------------------------------------------*/
#pa_mainNav{background:#d3e4e8; height:auto;}
#pa_mainNavWrap{background:url(../images/mainNav_tile.png) repeat-x; height:40px;}

#pa_mainNav ul{list-style:none;}
#pa_mainNav ul li{display:block; float:left; line-height:40px; background:url(../images/mainNav_separator.gif) right no-repeat;}
#pa_mainNav ul li a{display:block; padding:0px 20px;}

/* jpm changed for WordPress */
/* #pa_mainNav ul li a.selected{background:url(../images/mainNav_arrow.gif) center no-repeat;} */
#pa_mainNav ul li.current_page_item   a {background:url(../images/mainNav_arrow.gif) center no-repeat;}
#pa_mainNav ul li.current_page_parent a {background:url(../images/mainNav_arrow.gif) center no-repeat;}


/*------------------------------------------------------
  =sub navigation
  ------------------------------------------------------*/
#pa_subNav{background:#fdf0f5; height:auto;}
#pa_subNavWrap{background:#fff; height:35px;}

#pa_subNav ul{list-style:none;}
#pa_subNav ul li{display:block; float:left; line-height:35px;}
#pa_subNav ul li a{display:block; padding:0px 15px;}
/* jpm changed for WordPress */
/* #pa_subNav ul li a.selected{background:url(../images/subNav_arrow.gif) center no-repeat;} */
#pa_subNav ul li.current_page_item a {background:url(../images/subNav_arrow.gif) center no-repeat;}


/*------------------------------------------------------
  =masthead
  ------------------------------------------------------*/
#pa_mastHead{background:#fbdde9; height:auto;}
#pa_mastHeadWrap{background:url(../images/mastHead_home.jpg) 0 0 no-repeat; height:232px;}

.sub #pa_mastHeadWrap{background:url(../images/mastHead_sub.jpg) 0 0 no-repeat; height:110px;}


/*------------------------------------------------------
  =body content
  ------------------------------------------------------*/
#pa_contentContainer{background:url(../images/mastHead_shadow.png) 0 0 no-repeat #fff; margin-bottom:20px;}


/* home specific */
.welcomeMessage{float:left; width:650px; padding:20px 0px; margin:0px 15px;}
.welcomeMessage p{font-size:15px;}
* html .welcomeMessage{width:650px; padding:20px 0px; margin:0px 6px;}
.rightImage_home{float:right; width:280px;}

/* subpage specific */
#pa_leftCol{padding:20px 0px 0px; margin:0px 15px; width:654px;}
* html #pa_leftCol{margin:0px 6px;}
#pa_rightCol{margin:20px 0px 0px; width:260px; background:url(../images/sidebox_border.gif) 0 0 repeat-y;}

#pa_leftCol ul{list-style:none;}
#pa_leftCol ul li{padding:0px 0px 4px 16px; background:url(../images/bullet.gif) 0 1px no-repeat;}

a.top{background:url(../images/uparrow.gif) bottom left no-repeat; padding-left:16px;}

/* sidebox */
#sidebox{padding:0px 20px; background:url(../images/phsub_green.png) 0 0 no-repeat;}
.sbHeading{display:block; height:40px; line-height:48px; margin-bottom:10px;}
.sbdropshadow{background:url(../images/sb_shadow.png) 0 0 no-repeat; display:block; height:24px; margin-top:5px;}
#sidebox img{margin:8px 0px 0px;}

#sidebox ul{list-style:none;}
#sidebox ul li{padding:4px 0px 4px 16px; background:url(../images/bullet.gif) 0 4px no-repeat;}

/* promo boxes */
#promoWrap{clear:both; display:block;}
#promoWrap p{padding:8px 20px;}
.readmore{display:block; text-align:right; margin:0px 20px;}
.dropshadow{background:url(../images/promo_shadow.png) 0 0 no-repeat; display:block; height:32px;}

.promoBox{display:block; width:315px; background:url(../images/promobox_border.gif) 0 0 repeat-y;}
.promoLeft{float:left;}
.promoCenter{float:left; margin:0px 7.5px;}
.promoRight{float:right}

.promoBox a.heading{display:block; height:45px; line-height:52px; padding-left:18px;}
.promoBox a.heading:hover{background:url(../images/ph_pink.png) 0 0 no-repeat;}
.promoLeft a.heading{background:url(../images/ph_green.png) 0 0 no-repeat;}
.promoCenter a.heading{background:url(../images/ph_orange.png) 0 0 no-repeat;}
.promoRight a.heading{background:url(../images/ph_blue.png) 0 0 no-repeat;}

/*------------------------------------------------------
  =footer
  ------------------------------------------------------*/
#pa_footer{background:#d3e4e8; text-align:left; line-height:40px;}
#pa_footer .f_right{text-align:right;}

/* sticky */
* {margin: 0;}
html, body {height: 100%;}
#pa_wrapper {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -40px;}
#pa_footer, .push {height: 40px;}



